/* src/style.css */
body {
  margin: 0;
  /* display: flex;  <-- Borra esto */
  /* place-items: center; <-- Borra esto */
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}